
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/Stylesheet/menu.css" />
</head>
<body>
    <div class="Menubox">
        <a href="@Url.Action("Index")">Index</a>
        <a href="@Url.Action("Template")">Template</a>
        <a href="@Url.Action("Images")">Images</a>
        <a href="@Url.Action("Grid")">Grid</a>
        <a href="@Url.Action("Flexbox")">Flexbox</a>
        <a href="@Url.Action("Chart")">Chart.js</a>
    </div>
</body>
</html>
